spring:
  application:
    name: private-nas-backend
  profiles:
    active: dev
  
  datasource:
    url: jdbc:h2:mem:nasdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB

server:
  port: 8080
  shutdown: graceful

logging:
  level:
    com.mac.privatenas: DEBUG
    org.springframework.web: INFO
